@model Search

@{
  ViewData["Title"] = "Edit Search";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="List">Searches</a></li>
    <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.SearchId">@Model.Name</a></li>
    <li class="breadcrumb-item active">Edit Search</li>
  </ol>
</nav>

<form method="post">
  <div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="departmentChairSearch">Department Chair</label>
      <input id="departmentChairSearch" class="form-control chair-search" data-target="departmentChairId" value="@Model.DepartmentChair.Name" required />
      <input id="departmentChairId" name="departmentChairId" type="hidden" value="@Model.DepartmentChairId" />
    </div>
    <div class="form-group col-md-6">
      <label for="committeeChairSearch">Committee Chair</label>
      <input id="committeeChairSearch" class="form-control chair-search" data-target="committeeChairId" value="@Model.CommitteeChair.Name" required />
      <input id="committeeChairId" name="committeeChairId" type="hidden" value="@Model.CommitteeChairId" />
    </div>
  </div>
  <div class="form-group">
    <label for="committeeMemberSearch">Committee Members</label>
    <input id="committeeMemberSearch" class="form-control">
  </div>
  @foreach (var member in Model.CommitteeMembers)
  {
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="committeeMemberIds" value="@member.UserId" checked />
      <label class="form-check-label">@member.User.Name</label>
    </div>
  }
  <div class="form-row mt-2">
    <a asp-action="List" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary ml-2">Save</button>
  </div>
</form>

@section Scripts{
  <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.2/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script>
    $(function () {
      $(".chair-search").autoComplete({
        resolverSettings: {
          url: "@Context.Request.PathBase/api/users/search"
        },
        formatResult: function (user) {
          return {
            id: user.userId,
            text: user.name
          }
        },
      });
      $(".chair-search").on("autocomplete.select", function (event, user) {
        $("#" + $(this).attr("data-target")).val(user.userId);
      });
      $("#committeeMemberSearch").autoComplete({
        resolverSettings: {
          url: "@Context.Request.PathBase/api/users/search"
        },
        formatResult: function (user) {
          return {
            id: user.userId,
            text: user.name
          }
        },
      });
      $("#committeeMemberSearch").on("autocomplete.select", function (event, user) {
        $(this).val("");
        if (user.userId == $("#departmentChairId").val() || user.userId == $("#committeeChairId").val()) return;
        var checkRow = $("<div class='form-check'></div>");
        var checkLabel = $("<label class='form-check-label'>" + user.name + "</label>");
        var checkBox = $("<input class='form-check-input' type='checkbox' name='committeeMemberIds' checked />");
        checkBox.val(user.userId);
        checkBox.change(function () {
          checkRow.remove();
        });
        checkRow.append(checkBox).append(checkLabel);
        $(this).parent().after(checkRow);
      });
      $(".chair-search,#committeeMemberSearch").keydown(function (event) {
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
      $("[type='checkbox']").change(function () {
        $(this).parent().remove();
      });
    });
  </script>
}