@model Application

@{
  ViewData["Title"] = "Edit Application Documents";
  var search = ViewBag.Search;
  var viewDocument = $"{Context.Request.PathBase}/Searches/{search.Id}/Applications/{Model.Id}/Documents/View";
  var downloadDocument = $"{Context.Request.PathBase}/Searches/{search.Id}/Applications/{Model.Id}/Documents/Download";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Searches" asp-action="List">Searches</a></li>
    <li class="breadcrumb-item"><a asp-controller="Searches" asp-action="View" asp-route-id="@search.Id">@search.Name</a></li>
    <li class="breadcrumb-item"><a href="../List">Applications</a></li>
    <li class="breadcrumb-item active">@Model.Name</li>
  </ol>
</nav>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="../EditApplication/@Model.Id">Basic Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  active" href="#">Documents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../EditApplicationReferences/@Model.Id">References</a>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th></th>
      <th scope="col">File</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var document in Model.Documents)
    {
      <tr>
        <td class="w-50">
          @document.Name
        <small class="text-muted"><br />@document.Description</small>
      </td>
      <td class="document text-nowrap" data-file-id="@document.FileId">
        <a class="btn btn-primary view" href="@viewDocument/@document.Index">View</a>
        <a class="btn btn-success download" href="@downloadDocument/@document.Index">Download</a>
      </td>
      <td>
        <form action="@Context.Request.PathBase/Searches/@search.Id/Applications/@Model.Id/Documents/@document.Index" class="dropzone"></form>
      </td>
    </tr>
  }
  </tbody>
</table>

<div class="mt-2">
  <a href="../List" class="btn btn-secondary">Cancel</a>
  <a href="../EditApplicationReferences/@Model.Id" class="btn btn-primary ml-2">Next</a>
</div>

@section StyleSheets{
  <link rel="stylesheet" href="~/lib/dropzone/min/basic.min.css" />
}
@section Scripts {
  <script src="~/lib/dropzone/min/dropzone.min.js"></script>
  <script>
    Dropzone.autoDiscover = false;
    $(function () {
      $(".document").each(function () {
        if (!$(this).attr("data-file-id"))
          $(this).children("a").hide();
      });
      $(".dropzone").each(function () {
        var dzone = $(this);
        $(this).dropzone({
          acceptedFiles: ".pdf",
          init: function () {
            this.on("success", function (file) {
              dzone.closest("td").prev().children("a").show();
            });
            this.on("complete", function (file) {
              this.removeFile(file);
            });
          }
        });
      });
    });
  </script>
}