@model Evaluation

@{
  ViewData["Title"] = "Evaluate Application";
  var application = ViewBag.Application;
  var search = ViewBag.Search;
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item d-none d-lg-flex"><a asp-controller="Searches" asp-action="List">Searches</a></li>
    <li class="breadcrumb-item d-none d-lg-flex"><a asp-controller="Searches" asp-action="View" asp-route-id="@search.Id">@search.Name</a></li>
    <li class="breadcrumb-item d-none d-md-flex"><a href="../List">Applications</a></li>
    <li class="breadcrumb-item"><a href="../View/@application.Id">@application.Name</a></li>
    <li class="breadcrumb-item active">Evaluate Application</li>
  </ol>
</nav>

<form method="post" class="mt-2">
  <table class="table table-hover">
    <tr style="color: green;">
      <td>The candidate is outstanding and should definitely be invited for a phone interview.</td>
      <td class="text-nowrap">
        <input type="radio" asp-for="Rating" value="@Rating.Outstanding" />
      </td>
    </tr>
    <tr style="color: lightgreen;">
      <td>The candidate is good and should be invited for a phone interview.</td>
      <td class="text-nowrap">
        <input type="radio" asp-for="Rating" value="@Rating.Good" />
      </td>
    </tr>
    <tr style="color: orange;">
      <td>The candidate is average; may be invited for phone interview if we don't have enough people.</td>
      <td class="text-nowrap">
        <input type="radio" asp-for="Rating" value="@Rating.Average" />
      </td>
    </tr>
    <tr style="color: red;">
      <td>The candidate is poor and should not be invited for phone interview.</td>
      <td class="text-nowrap">
        <input type="radio" asp-for="Rating" value="@Rating.Poor" />
      </td>
    </tr>
    <tr>
      <td colspan="2"><textarea id="summernote" name="Notes" class="form-control">@Html.Raw(Model.Notes)</textarea></td>
    </tr>
    <tr>
      <td colspan="2">
        <a href="../View/@application.Id" class="btn btn-secondary">Cancel</a>
        <button class="btn btn-primary ml-2">Save</button>
      </td>
    </tr>
  </table>
</form>

@section StyleSheets{
  <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet">
}

@section Scripts{
  <script src="~/lib/summernote/summernote-bs4.min.js"></script>
  <script>
    $(function () {
      $("#summernote").summernote({
        height: 200
      });
    });
  </script>
}