@model Search

@{
  ViewData["Title"] = "Applications";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item d-none d-lg-flex"><a asp-controller="Searches" asp-action="List">Searches</a></li>
    <li class="breadcrumb-item"><a asp-controller="Searches" asp-action="View" asp-route-id="@Model.Id">@Model.Name</a></li>
    <li class="breadcrumb-item active">Applications</li>
  </ol>
</nav>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" asp-controller="Searches" asp-action="View" asp-route-id="@Model.Id">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../Documents/List">Documents (@Model.Documents.Count)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Applications (@Model.Applications.Count)</a>
  </li>
</ul>

<p class="text-right mt-2"><a href="Add" class="btn btn-primary">New Application</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Position</th>
      <th>Current Institution</th>
      <th>Phone Interview</th>
      <th>Campus Interview</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var application in Model.Applications)
    {
      <tr>
        <td><a href="View/@application.Id">@application.Name</a></td>
        <td>@application.CurrentPosition</td>
        <td>@application.CurrentInstitution</td>
        <td>
          @if (application.IsAdvancedToPhoneInterview ?? false)
          {<span class="text-success">Yes</span>}
          @if (!(application.IsAdvancedToPhoneInterview ?? true))
          {<span class="text-danger">No</span>}
        </td>
        <td>
          @if (application.IsAdvancedToCampusInterview ?? false)
          {<span class="text-success">Yes</span>}
          @if (!(application.IsAdvancedToCampusInterview ?? true))
          {<span class="text-danger">No</span>}
        </td>
      </tr>
    }
  </tbody>
</table>
